html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "DancingScriptRegular";
  src: url("../../static/fonts/DancingScriptRegular.woff");
  format: ("woff");
}

@font-face {
  font-family: "RenogareRegular";
  src: url("../../static/fonts/RenogareRegular.woff");
  format: ("woff");
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../../static/fonts/MontserratRegular.woff");
  format: ("woff");
}

/* Hide nav links for non desktop devices */
.nav-link {
  display: none;
}

.banner-text {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .nav-link {
    display: initial;
  }

  .banner-text {
    font-size: 2rem;
  }
}
